body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  height: 100%;
  background: #e9b5de;
  background-image: url("flower.gif");
  background-repeat: no-repeat;
  background-position: center -300%;
}

.fixedButtonsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5dcee;
  z-index: 3;
  padding: 10px;
}

.button {
  cursor: pointer;
  border: none;
  background: #f5dcee;
  outline: none;
  margin-right: 0%;
}

.logoTop {
  max-width: 100%;
  height: 110px;
  margin: auto;
  display: block;
  padding: 0;
}

.button:hover {
  opacity: 0.7;
}

.button img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.buttonHome {
  width: 50%;
  height: auto;
  margin-left: 15%;
}

.buttonTopArtists {
  width: 60%;
  height: auto;
  margin-right: 25%;
}

.buttonEmpowerment {
  width: 60%;
  height: auto;
  margin-right: 0%;
}

.buttonHidden {
  width: 60%;
  height: auto;
  margin-right: -10%;
}

#contentHome,
#contentTopArtists {
  margin-top: 5%;
  padding: 0%;
  max-width: 100%;
}

#contentEmpowerment,
#contentHiddenGem{
  margin-top: 4%;
  text-align: center;
  padding: 0%;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 100px;
}

li:first-child {
  margin-top: 200px;
}

h2 {
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

img {
  display: block;
  margin: 0 auto;
  /* Make image bigger */
  max-width:  60%;
  height: auto
}

.larger-image {
  max-width: 120%; /* Set the maximum width to 100% for images with the class "larger-image" */
  max-height: 120%;
}

h2 {
  max-width: 70%;
  height: auto;
}
